<mdb-card>

    <mdb-card-header class="info-color
        white-text text-center py-4">
        <h5>
            <strong>Sửa lại thông tin bài viết</strong>
        </h5>
    </mdb-card-header>

    <mdb-card-body class="px-lg-5 pt-0">

        <div *ngIf="!education" class="text-center"
             style="color: #757575;">
            <div class="md-form">
                <a>
                    <span>{{error}}</span>
                </a>
            </div>
        </div>

        <form *ngIf="education" [formGroup]="form"
              class="text-center" style="color: #757575;">

            <div class="md-form">
                <input type="text" id="url_id"
                       class="form-control" value="{{education.url}}"
                       [disabled]="true"
                       mdbInput>
                <label for="url_id">Url</label>

            </div>

            <div class="md-form">
                <input type="text" id="title_id"
                       class="form-control"
                       formControlName="title"
                       [(ngModel)]="education.title"
                       mdbInput>

                <label for="title_id">Title</label>

                <div class="col alert alert-danger" role="alert"
                     *ngIf="form.hasError('invalidTitle', ['title']) && form.get('title').touched">
                    Invalid Title!
                </div>
            </div>

            <div class="md-form">
                <input type="text" id="description_id"
                       class="form-control"
                       [(ngModel)]="education.description"
                       formControlName="description"
                       mdbInput>
                <label for="description_id">Description</label>
                <div class="col alert alert-danger" role="alert"
                     *ngIf="form.hasError('invalidDescription', ['description']) && form.get('description').touched">
                    Invalid Description!
                </div>

            </div>

            <div class="md-form">
                <input type="file" id="file_id" class="form-control"
                       formControlName="file"
                       #fileInput
                       (change)="onChange(fileInput.files[0])"
                       style="border: none"
                       mdbInput>
                <small>Please upload user image less than 2 MB (.jpg, .png, .jpeg)</small>
                <br>
                <div class="col alert alert-danger" role="alert"
                     *ngIf="form.hasError('invalidFile', ['file']) && form.get('file').touched">
                    Invalid File!
                </div>
                <img [src]="imageUrl" width="100" height="100"/>

            </div>


            <button mdbBtn type="button"
                    (click)="goBack()"
                    color="primary" class="waves-light" mdbWavesEffect>Quay lại
            </button>

            <button mdbBtn type="button"
                    (click)="updateEducation(education)"
                    [disabled]="form.get('title').invalid || form.get('description').invalid || form.get('file').invalid"
                    color="primary" class="waves-light" mdbWavesEffect>Cập nhật
            </button>

        </form>

    </mdb-card-body>

</mdb-card>
