<mdb-card>

    <mdb-card-header class="info-color white-text text-center py-4">
        <h5>
            <strong>Sửa lại thông tin bài viết</strong>
        </h5>
    </mdb-card-header>
    <mdb-card-body class="px-lg-5 pt-0">

        <form *ngIf="education" class="text-center" style="color: #757575;">
            <div class="md-form">
                <a id="url_id" href={{education.url}} target="_blank">
                    <span>{{education.url}}</span>
                </a>

            </div>

            <div class="md-form">
                <input type="text" id="title_id" class="form-control" value="{{education.title}}"
                       [(ngModel)]="education.title" [ngModelOptions]="{standalone: true}"
                       aria-describedby="materialRegisterFormPasswordHelpBlock"
                       mdbInput>
                <label for="title_id">Title</label>
                <small id="small_title_id" class="form-text text-muted mb-4">
                    Không được để trống
                </small>
            </div>


            <div class="md-form">
                <input type="text" id="description_id" class="form-control" value="{{education.description}}"
                       [(ngModel)]="education.description" [ngModelOptions]="{standalone: true}"
                       aria-describedby="materialRegisterFormPasswordHelpBlock"
                       mdbInput>
                <label for="description_id">Description</label>
                <small id="small_description_id" class="form-text text-muted mb-4">
                    Không được để trống
                </small>
            </div>

            <button mdbBtn type="button"
                    (click)="goBack()"
                    color="primary" class="waves-light" mdbWavesEffect>Quay lại
            </button>

            <button mdbBtn type="button"
                    (click)="updateEducation(education)"
                    color="primary" class="waves-light" mdbWavesEffect>Cập nhật
            </button>


        </form>
        <!-- Form -->

    </mdb-card-body>

</mdb-card>
