<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">×</span>
        </button>
        <h5  id="myModalLabel">{{ heading }}</h5>
    </div>
    <div class="modal-body">
        <label>{{ content.heading }}</label>
        <p>{{ content.description }}</p>
    </div>
    <div class="modal-footer">
        <button type="button" style="background-color: #e7e7e7; color: black;" (click)="onNoClick()"
                mdbWavesEffect>Hủy yêu cầu
        </button>
        <button type="button" style="background-color: #008CBA; color: white" (click)="onYesClick()" mdbWavesEffect>
            Xác nhận
        </button>
    </div>
</div>
